body { font-family: 'Noto Sans', sans-serif; }

.curtain_slider { padding-top: 30px; }

.curtain_text { padding-top: 30px; text-align: center; margin-bottom: 30px; }

.curtain_text_header { font-family: 'Cormorant Infant', serif; font-size: 30px; font-weight: 600; color: #EAEEF1; }

.curtain_close { height: 20px; cursor: pointer; background: url("../images/icons/up-arrow.png") 50% 50% no-repeat; }

.curtain:hover { background: #2F668C; }

.curtain:hover .curtain_text_header { color: #fff; }

.curtain_up { max-height: 0px; overflow: hidden; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s; transition: all 1.5s ease; }

.curtain_down { /*height: 400px;*/ overflow: hidden; width: 100%; max-height: 400px; background: #92BBD8; -webkit-transition: all 0.7s; -moz-transition: all 0.7s; -o-transition: all 0.7s; transition: all 1.5s ease; }

.wrapper { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-direction: row; align-items: stretch; }

.navigator { width: 250px; background: #4885B1; }

.navigator_logo { height: 128px; width: 128px; background: url("../images/icons/flot.png"); background-size: cover; margin: 0 auto; margin-bottom: 30px; margin-top: 20px; }

.navigator_menu_bar_list { list-style: none; margin: 5px 0; }

.navigator_menu_bar_list_href { color: #EAEEF1; font-size: 16px; text-decoration: none; display: inline-block; padding: 3px 6px; }

.navigator_menu_bar_list_href:hover { color: #fff; text-decoration: none; }

.navigator_menu_bar_list:hover { border-left: 3px solid #fff; }

.container { width: 100%; height: auto; margin-bottom: 20px; background: #fff; }

.container_header { padding: 10px 0 5px 10px; border-top: 3px solid #E5E7E8; }

.container_header h5 { color: #353C3F; font-size: 15px; display: inline-block; }

.container_header_arrow { display: inline-block; background: url("../images/icons/up-arrow_hide.png"); width: 16px; height: 16px; background-size: cover; float: right; margin-right: 10px; cursor: pointer; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s ease; }

.container_header_arrow.rollup { -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -o-transform: rotate(-90deg); transform: rotate(-180deg); -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s; transition: all 0.4s ease; }

.container_body { border-top: 1px solid #E5E7E8; padding: 10px; display: none; }

.container_body_line { margin: 10px 0; }

.container_body_line_label { display: inline-block; text-align: right; width: 10%; color: #1A1A1B; }

.container_body_line_input, .container_body_line_select { display: inline-block; text-align: left; margin-left: 10px; }

.container_body_line_input input, .container_body_line_input select, .container_body_line_select input, .container_body_line_select select { padding: 5px; border-radius: 3px; border: 1px solid #CBD5DD; width: 200px; font-size: 13px; }

.container_body_line_btn { display: inline-block; text-align: left; margin-left: 10%; margin-top: 15px; }

.container_body_line_btn_button { margin-left: 10px; padding: 5px; }

.container_body_line_btn_button:focus { outline: none; }

.container_body_line_check { display: inline-block; text-align: left; margin-left: 10px; vertical-align: top; font-size: 14px; }

.container_body_line_table table { width: 100%; background-color: transparent; border-spacing: 0; border-collapse: collapse; font-size: 14px; }

.container_body_line_table table thead { border-bottom: 1px solid #DDDDDD; }

.container_body_line_table table thead th { line-height: 1.42857; padding: 8px; vertical-align: top; text-align: left; font-weight: 600; }

.container_body_line_table table tbody tr td { border-top: 1px solid #e7eaec; line-height: 1.42857; padding: 8px; vertical-align: top; text-align: left; }

.btn_add, .btn_change { background: #4885B1; border-radius: 3px; border: none; padding: 5px 10px; color: #EAEEF1; cursor: pointer; }

.btn_change { background: #2D8752; }

.btn_add:hover { color: #fff; background: #6797B9; }

.btn_change:hover { color: #fff; background: #38A465; }

.wrapp_page { background: #F5F5F5; width: 100%; min-height: 400px; }

.page { padding: 20px; }

.chosen-container { width: 200px !important; }
