<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Aero project</title>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cormorant+Infant:400,500italic,600italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">


    <link rel="stylesheet" href="css/lib/chosen.min.css">
</head>

<body>
    <div class="curtain curtain_up">
        <div class="curtain_slider">
            <div class="curtain_slider_container">
                <div class="curtain_slider_container_btns">
                    <div class="curtain_slider_container_btns_next" id="slider_next"></div>
                    <div class="curtain_slider_container_btns_prev" id="slider_prev"></div>
                </div>
                <div class="curtain_slider_container_img">
                    <div class="curtain_slider_container_img_block">
                        <div class="curtain_slider_container_img_block_box"><img src="images/rf1.jpg" alt=""></div>
                        <div class="curtain_slider_container_img_block_box"><img src="images/rf2.jpg" alt=""></div>
                        <div class="curtain_slider_container_img_block_box"><img src="images/fr1.jpg" alt=""></div>
                        <div class="curtain_slider_container_img_block_box"><img src="images/fr2.jpg" alt=""></div>
                        <div class="curtain_slider_container_img_block_box"><img src="images/chz1.jpg" alt=""></div>
                        <div class="curtain_slider_container_img_block_box"><img src="images/chz2.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="curtain_text">
            <p class="curtain_text_header">Бронируй тут и тебе это понравится</p>
        </div>
        <div class="curtain_close"></div>
    </div>
    <div class="wrapper">
        <div class="navigator">
            <div class="navigator_logo"></div>
            <div class="navigator_menu">
                <ul class="navigator_menu_bar">
                    <li class="navigator_menu_bar_list">
                        <a href="#flot" class="navigator_menu_bar_list_href">Регистрация рейса</a>
                    </li>
                    <li class="navigator_menu_bar_list">
                        <a href="#bron" class="navigator_menu_bar_list_href">Бронирование на рейс</a>
                    </li>
                    <li class="navigator_menu_bar_list">
                        <a href="#all" class="navigator_menu_bar_list_href">Сводная таблица рейсов</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="wrapp_page">
            <div class="page">
                <div class="page_header">
                    
                </div>

                <div class="page_flot container" id="flot">
                    <div class="page_flot_header container_header">
                        <h5>Зарегистрировать рейс</h5>
                        <div class="container_header_arrow"></div>
                    </div>
                    <div class="page_flot_body container_body">
                        <form action="" id="flot_form" method="POST">
                            <div class="container_body_line">
                                <label for="flot_form" class="container_body_line_label">Авиакомпания</label>
                                <div class="container_body_line_input">
                                    <input type="text" name="name_flot" id="name_flot">
                                </div>
                            </div>
                            <div class="container_body_line">
                                <label for="flot_form" class="container_body_line_label">Номер рейса</label>
                                <div class="container_body_line_input">
                                    <input type="text" name="reis_flot" id="reis_flot"> 
                                </div>
                            </div>
                            <div class="container_body_line">
                                <label for="flot_fosrm" class="container_body_line_label">Страны полета</label>
                                <div class="container_body_line_check country_box">
                                        <input type="radio" name="country" value="Россия">Россия<br>
                                        <input type="radio" name="country" value="Франция">Франция<br>
                                        <input type="radio" name="country" value="Чехия">Чехия<br>
                                </div>
                            </div>
                            <div class="container_body_line">
                                <div class="container_body_line_btn">
                                    <div id="btn_flot" class="container_body_line_btn_button btn_add">Добавить</div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="page_bron container" id="bron">
                    <div class="page_bron_header container_header">
                        <h5>Забронировать места на рейс</h5>
                        <div class="container_header_arrow"></div>
                    </div>
                    <div class="page_bron_body container_body">
                        <form action="" id="bron_form" method="POST">
                            <div class="container_body_line">
                                <label for="bron_form" class="container_body_line_label">Авиакомпания</label>
                                <div class="container_body_line_select">
                                    <select data-placeholder="Выберите авиакомпанию" name="bron_flot" class="chosen-select bron_flot">
                                        <option ></option>
                                    </select>
                                </div>
                            </div>
                            <div class="container_body_line">
                                <label for="bron_form" class="container_body_line_label">Номер рейса</label>
                                <div class="container_body_line_select">
                                    <select data-placeholder="Выберите рейс" name="bron_reis" class="chosen-select bron_reis">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="container_body_line">
                                <label for="bron_form" class="container_body_line_label">Страна полета</label>
                                <div class="container_body_line_select">
                                    <select data-placeholder="Выберите страну полета" name="bron_country" class="chosen-select bron_country">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="container_body_line">
                                <label for="bron_form" class="container_body_line_label">Даты вылета</label>
                                <div class="container_body_line_select">
                                    
                                </div>
                            </div> -->
                            <div class="container_body_line">
                                <label for="bron_form" class="container_body_line_label">Направление</label>
                                <div class="container_body_line_check">
                                    <input type="radio" value="double">туда и обратно<br>
                                </div>
                            </div>
                            <div class="container_body_line">
                                <div class="container_body_line_btn">
                                    <div id="btn_bron" class="container_body_line_btn_button btn_change">Забронировать</div>
                                </div>
                            </div>
                        </form>
                    </div>                    
                </div>

                <div class="page_all container" id="all">
                    <div class="page_all_header container_header">
                        <h5>Таблица существующих рейсов</h5>
                        <div class="container_header_arrow"></div>
                    </div>
                    <div class="page_all_body container_body">
                        <div class="container_body_line">
                            <div class="container_body_line_table" id="table_all">
                                <table>
                                    <thead>
                                        <tr>
                                            <th><span>Авиакомпания</span></th>
                                            <th><span>Рейс</span></th>
                                            <th><span>Страны</span></th>
                                            <th><span>Кол-во регистраций на рейс</span></th>
                                            <th><span>Кол-во оставшихся мест в самолете</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <script id="layout-view-template" type="text/template">
                                            <td><span class="flot"><%- flot %></span></td>
                                            <td><span class="reis"><%- reis %></span></td>
                                            <td><span class="country"><%- country %></span></td>
                                            <td><span class="count_reis"><%- count_reis %></span></td>
                                            <td><span class="places"><%- places %></span></td>
                                        </script>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript' src="js/lib/jquery.js"></script>    
    <script type='text/javascript' src="js/lib/chosen.jquery.min.js"></script>
    <script type='text/javascript' src="js/lib/underscore.js"></script>
    <script type='text/javascript' src="js/lib/backbone.js"></script>
    <!-- <script type='text/javascript' src="js/lib/backbone.marionette.js"></script> -->
    <script type='text/javascript' src="js/lib/backbone-localstorage.min.js"></script>
    <script type='text/javascript' src="js/main.js"></script>
</body>

</html>