<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Aero project (marionete)</title>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class="wrapper">
        <div class="navigator">
            <div class="navigator_logo"></div>
            <div class="navigator_menu">
                <ul class="navigator_menu_bar">
                    <li class="navigator_menu_bar_list">
                        <a href="#flot" class="navigator_menu_bar_list_href">Регистрация рейса</a>
                    </li>
                    <li class="navigator_menu_bar_list">
                        <a href="#bron" class="navigator_menu_bar_list_href">Бронирование на рейс</a>
                    </li>
                    <li class="navigator_menu_bar_list">
                        <a href="#all" class="navigator_menu_bar_list_href">Сводная таблица рейсов</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="wrapp_page">
            <div class="page">
                <div class="page_header">
                    
                </div>

                <div class="page_flot container" id="flot">
                    <div class="page_flot_header container_header">
                        <h5>Зарегистрировать рейс</h5>
                    </div>
                    <div class="page_flot_body container_body">
                        <form action="" id="flot_form" method="POST">
                            <div class="container_body_line">
                                <label for="flot_form" class="container_body_line_label">Самолет</label>
                                <div class="container_body_line_input">
                                    <input type="text" name="name_flot" id="name_flot">
                                </div>
                            </div>
                            <div class="container_body_line">
                                <label for="flot_form" class="container_body_line_label">Номер рейса</label>
                                <div class="container_body_line_input">
                                    <input type="text" name="reis_flot" id="reise_flot"> 
                                </div>
                            </div>
                            <div class="container_body_line">
                                <label for="flot_form" class="container_body_line_label">Страны полета</label>
                                <div class="container_body_line_check">
                                        <input type="checkbox" value="ru">Россия<br>
                                        <input type="checkbox" value="fr">Франция<br>
                                        <input type="checkbox" value="cz">Чехия<br>
                                </div>
                            </div>
                            <div class="container_body_line">
                                <div class="container_body_line_btn">
                                    <button type="submit" class="container_body_line_btn_button btn_add">Добавить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="page_bron container" id="bron">
                    <div class="page_bron_header container_header">
                        <h5>Забронировать места на рейс</h5>
                    </div>
                    <div class="page_bron_body container_body">
                        <form action="" id="bron_form" method="POST">
                            <div class="container_body_line">
                                <label for="bron_form" class="container_body_line_label">Самолет</label>
                                <div class="container_body_line_select">
                                    <select name="bron_flot">
                                        <option disabled>Выберите самолет</option>
                                    </select>
                                </div>
                            </div>
                            <div class="container_body_line">
                                <label for="bron_form" class="container_body_line_label">Номер рейса</label>
                                <div class="container_body_line_select">
                                    <select name="bron_reis">
                                        <option disabled>Выберите рейс</option>
                                    </select>
                                </div>
                            </div>
                            <div class="container_body_line">
                                <label for="bron_form" class="container_body_line_label">Страна полета</label>
                                <div class="container_body_line_select">
                                    <select name="bron_flot">
                                        <option disabled>Выберите страну полета</option>
                                    </select>
                                </div>
                            </div>
                            <div class="container_body_line">
                                <label for="bron_form" class="container_body_line_label">Даты вылета</label>
                                <div class="container_body_line_select">
                                    
                                </div>
                            </div>
                            <div class="container_body_line">
                                <label for="bron_form" class="container_body_line_label">Направление</label>
                                <div class="container_body_line_check">
                                    <input type="radio" value="double">туда и обратно<br>
                                </div>
                            </div>
                            <div class="container_body_line">
                                <div class="container_body_line_btn">
                                    <button type="submit" class="container_body_line_btn_button btn_change">Забронировать</button>
                                </div>
                            </div>
                        </form>
                    </div>                    
                </div>

                <div class="page_all container" id="all">
                    <div class="page_all_header container_header">
                        <h5>Таблица существующих рейсов</h5>
                    </div>
                    <div class="page_all_body container_body">
                        <div class="container_body_line">
                            <div class="container_body_line_table" id="table_all">
                                <table>
                                    <thead>
                                        <tr>
                                            <th><span>Самолет</span></th>
                                            <th><span>Рейс</span></th>
                                            <th><span>Страны</span></th>
                                            <th><span>Кол-во регистраций на рейс</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr>
                                            <td><span>Aero Jet</span></td>
                                            <td><span>777A</span></td>
                                            <td><span>Россия, Чехия</span></td>
                                            <td><span>5</span></td>
                                        </tr> -->
                                        <script id="layout-view-template" type="text/template">
                                            <td><span id="flot"><%- flot %></span></td>
                                            <td><span id="reis"><%- reis %></span></td>
                                            <td><span id="country"><%- country %></span></td>
                                            <td><span id="count_reis"><%- count_reis %></span></td>
                                        </script>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript' src="js/jquery.js"></script>
    <script type='text/javascript' src="js/underscore.js"></script>
    <script type='text/javascript' src="js/backbone.js"></script>
    <script type='text/javascript' src="js/backbone.marionette.js"></script>
    <script type='text/javascript' src="js/main.js"></script>
</body>

</html>